@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Gabriel Fuentes
   Date: 10.24.18  
   
   Filename: ss_layout.css

*/


/* Article Styles */
article {
    float: left;
    width: 384px;
}

/* First Line and Drop Cap Styles */
article p:first-of-type::first-line {
    font: 1.25em;
    font-variant: small-caps;
}

article p:first-of-type:first-letter {
    font: 4em serif;
    float: left;
    line-height: 0.8em;
    margin: 0 5px 5px 0;
}
/* This makes the first paragraph within the article element have the first line in a different font size and variant. It also sets the first letter of the first paragraph with a different font size, family, line height, margin  */
/* Aside Styles */
aside {
    width: 768px;
    float: left;
}
/* sets the width using absolute units and floats it to the left margin. */
/* Map Styles */
#battleMap {
    width: 688px;
    margin: 20px auto;
    position: relative;
}

#mapImage {
    display: block;
    width: 100%;
}
/* Sets the width for the id's battleMap and mapImage. It also sets margin for battleMap and sets its position relative to the parent element. */
/* Interactive Map Styles */
.battleMarkers  {
    position: absolute;
}

#marker1 {
    top: 220px;
    left: 340px;
}

#marker2 {
    top: 194px;
    left: 358px;
}

#marker3 {
    top: 202px;
    left: 400px;
}

#marker4 {
    top: 217px;
    left: 452px;
}

#marker5 {
    top: 229px;
    left: 498px;
}

#marker6 {
    top: 246px;
    left: 544px;
}
/* This sets the markers to their position by having it move out of their parent element. It uses abolute units */
/* Map Information Styles */
div.mapInfo {
    display: none;
}

a.battleMarkers:hover+div.mapInfo {
    display: block;
}

/* This sets the information on each battle to not show unless the mouse is hovered over a marker. */